<div class="main-content">
  <mat-divider></mat-divider>
  
  <div class="header">
    <h1>Reserve a Resource</h1>
  </div>
  <div class="image-container">
    <img class="image"  src="assets/office.jpg" />
  </div>
  <div class="selector-form">
    <mat-card class="card">
    <form  #selection="ngForm" (ngSubmit)="reserveForm()">

        <div class="select-dropdown">
            <mat-form-field class="dropdown" style="margin-right: 20px;">
              <mat-label>Resource Type</mat-label>
              <mat-select matNativeControl required [(ngModel)]="reserve.resourceTypeId" name="resourceTypeId" (selectionChange)="onSelected()" #resourceTypeId>
                  <mat-option>--Select--</mat-option>
                  <mat-option *ngFor="let option of resourceTypeOptions" [value]="option.resourceTypeId">
                      {{ option.name}}
                  </mat-option>


              </mat-select>
            </mat-form-field>

        <mat-form-field class="dropdown">
          <mat-label>Select the resource to be blocked</mat-label>

          <mat-select matNativeControl required [(ngModel)]="reserve.resourceId" name="resourceId" (selectionChange)="onResourceSelected()">
              <mat-option>--Select</mat-option>
              <mat-option *ngFor="let option of resourceDependentList" [value]="option.resourceId">
                  {{ option.resourceId }}
              </mat-option>


          </mat-select>
          
        </mat-form-field>

      </div>
      <div class="date-selector">
        <table class="form-table">
          <div class="calender-from">
            <tr class="row">

                <td class="cell">
                    <mat-form-field >
                        <mat-label>Select from date</mat-label>
                        <input matInput [matDatepicker]="pickerfromdate" [(ngModel)] = "reserve.dateFrom" #pickerFromDate (dateChange)="onFromDateSelected($event)" name="pickerFromDate"/>
                        <mat-hint>MM-DD-YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="pickerfromdate"  ></mat-datepicker-toggle> 
                        <mat-datepicker #pickerfromdate startView="month" ></mat-datepicker>
                    </mat-form-field>
                </td>
                
    </tr>
          </div>
          <div class="calender-to">
            <tr class="row">

                <td class="cell">
                    <mat-form-field >
                <mat-label>Select to date</mat-label>
                
                <input matInput [matDatepicker]="pickertodate" #pickerToDate name="pickerToDate" [(ngModel)] = "reserve.dateTo" (dateChange)="onToDateSelected($event)"/>
                <mat-hint>MM-DD-YYYY</mat-hint>

                <mat-datepicker-toggle matIconSuffix [for]="pickertodate" ></mat-datepicker-toggle>
                <mat-datepicker #pickertodate startView="month">
                
              </mat-datepicker>
              </mat-form-field>
            </td>
        </tr>
          </div>
        </table>
        <div class="submit">

            <button mat-raised-button color="primary">Submit</button>
        </div>
        </div>
    </form>
  </mat-card>
  </div>
</div>
