<div class="main-container">
    <div class="header">
        <h1>Add Resource</h1>
    </div>
        <form class="add-form">
            <div class="add-form-div">
            <mat-card class="card">
                <div class="input-element">

                    <mat-form-field class="input">
                        <mat-label>Resource Id</mat-label>
                        <input matInput type="text" required>
                    </mat-form-field>
                </div>
                <div class="input-element">

                    <mat-form-field class="input">
                        <mat-label>Resource Type</mat-label>
                        <select matNativeControl required></select>
                    </mat-form-field>
                </div>
                <div class="input-element">

                    <button mat-raised-button color="primary">Submit</button>
                </div>
                    
            </mat-card>
        </div>
        </form>


    
</div>